/* =========================
   GLOBAL RESET
   ========================= */

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

/* =========================
   BAR BACKGROUND
   ========================= */

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
}

/* =========================
   MODULE BASE STYLE
   ========================= */

#workspaces,
#clock,
#battery {
  padding: 0 10px;
  margin: 4px 4px;
}
/* =========================
   WORKSPACES
   ========================= */

#workspaces button {
  padding: 0 6px;
  color: #595959;
  background: transparent;
}

#workspaces button.active {
  color: #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
}

/* =========================
   CLOCK
   ========================= */

#clock {
  color: #f7f7f7;
}

/* =========================
   BATTERY
   ========================= */

#battery {
  color: #f7f7f7;
}

